<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.api_all">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Api_all">
        <activity
            android:name=".ListView_ArrayAdapter.Example12.RecyclerViewActivity"
            android:exported="true" />
        <activity
            android:name=".ListView_ArrayAdapter.Example11.GridViewActivity"
            android:exported="true" />
        <activity
            android:name=".ListView_ArrayAdapter.Example10.MultiAutoCompleteActivity"
            android:exported="true" />
        <activity
            android:name=".ListView_ArrayAdapter.Example9.AutoCompleteActivity"
            android:exported="true" />
        <activity
            android:name=".ListView_ArrayAdapter.Example8.SpinnerBigActivity"
            android:exported="true" />
        <activity
            android:name=".ListView_ArrayAdapter.Example7.SpinnerActivity"
            android:exported="true" />
        <activity
            android:name=".ListView_ArrayAdapter.Example2_2.ListActivity"
            android:exported="true" />
        <activity
            android:name=".ListView_ArrayAdapter.Example6.HelloActivity"
            android:exported="true" />
        <activity
            android:name=".ListView_ArrayAdapter.Example5.AdapterTreeActivity"
            android:exported="true" />
        <activity
            android:name=".ListView_ArrayAdapter.Example4.AddAllActivity"
            android:exported="true" />
        <activity
            android:name=".ListView_ArrayAdapter.Example3.ListViewActivity"
            android:exported="true" />
        <activity
            android:name=".ListView_ArrayAdapter.Example2.StringActivity"
            android:exported="true" />
        <activity
            android:name=".ListView_ArrayAdapter.Example1.StartActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>